<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Traditional Medicine Recommendation System</title>
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="{{ url_for('static', filename='content.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="../static/logo.png" alt="Logo" class="logo1">
                <h1>Traditional Medicine Recommendation System</h1>
            </div>
            <div class="auth-buttons">
                <form id="symptomForm" onchange="autoPassValueToForm3()" method="POST" action="/">
                    <select name="language" id="languageSelect">
                        <option value="1">Tamil</option>
                        <option value="2">English</option>
                    </select> 
                    <button onclick="window.location.href ='{{ url_for('feed') }}';" class="login">Log Out</button>
                </form>
            </div>
        </div>
    </header>
    <div id="img1">
        <div id="output">
            <div id="background-image"></div>
            <div id="content">
    <br/><br/><br/><br/>
                {% if recommended_plants %}
                <p><strong>Your Symptoms:</strong> 
                {% for symptom in symptoms %}
                {{ symptom }}
                {% if not loop.last %}, {% endif %}
                {% endfor %}</p>
                <strong>RECOMMENDED MEDICINAL PLANTS:</strong>
                <form method="POST" action="/">
                    <input type="hidden" name="mode" value="{{ mode }}">
                    <input type="hidden" name="symptom" value="{{ symptom }}">
                    <input type="hidden" name="language" value="{{ language }}">
                    <ul id="plantsList">
                        {% for plant in recommended_plants %}
                            <li class="plantInfo" style="display: {% if loop.index0 == 0 %}block{% else %}none{% endif %}">
                                <p><strong>Tamil Name: </strong>{{ plant['TAMIL_NAME'] }}</p>
                                <p><strong>Common Name: </strong>{{ plant['COMMON_NAME'] }}</p>
                                <p><strong>Botanical Name:</strong>{{ plant['BOTANICAL_NAME'] }}</p>
                                <p><strong>Description: </strong>{{ plant['DESCRIPTION'] }}</p>
                                <p><strong>How to Use: </strong>{{ plant['HOW_TO_USE'] }}</p>
                                <p><strong>Image Link:</strong> <a href="{{ plant['LINK'] }}">{{ plant['LINK'] }}</a></p>   
                                 <div name="audio">
                                    <audio controls>
                                        <source src="{{ url_for('static', filename='output.mp3') }}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio> 
                                 </div>  
                            </li>
                        {% endfor %}
                    </ul>
                    <button type="button" id="nextButton">Next</button>
                </form>
                {% endif %}
                <br/><br/><br/><br/>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div name="mode">
                <form id="footerForm" method="POST" action="/">
                    <input type="hidden" name="mode" value="1">
                    <input type="text" name="symptom" id="userInputFooter" placeholder="Enter your symptoms separated by commas">
                    <input type="hidden" name="language" id="footerLanguage" value ="1">
                    <button type="submit"> ➤</button>
                    <input type="hidden" name="language" id="footerLanguage" value ="1">
                    <button type="button" id="speechButton">&#127897;&#65039;</button>
                    <button class="thumbs-up-btn">&#128077;</button>
                    <a href="{{ url_for('feed') }}" style="font-size: 25px; text-decoration: none;">&#128078;</a>
                </form>
            </div>
        </div>
    </footer>
    <script>
        let recognition;
        let isListening = false;

        document.getElementById('speechButton').addEventListener('click', toggleSpeechRecognition);

        function toggleSpeechRecognition() {
            if (!isListening) {
                const selectedLanguage = document.getElementById('languageSelect').value;
                const languageCode = (selectedLanguage === '1') ? 'ta-IN' : 'en-US';

                recognition = new webkitSpeechRecognition();
                recognition.lang = languageCode;
                recognition.continuous = false;
                recognition.interimResults = false;

                recognition.onresult = function(event) {
                    let symptom = event.results[0][0].transcript.trim();
                    // Remove dot at the end if present
                    symptom = symptom.replace(/\.$/, '');
                    document.querySelector('input[name="symptom"]').value = symptom;
                    stopSpeechRecognition();
                    document.getElementById('footerForm').submit(); // Submit the form
                };

                recognition.start();
                isListening = true;
                document.getElementById('speechButton').innerHTML = '&#127897;&#65039;...';
            } else {
                stopSpeechRecognition();
            }
        }

        function stopSpeechRecognition() {
            if (isListening) {
                recognition.stop();
                isListening = false;
                document.getElementById('speechButton').innerHTML = '&#127897;&#65039;';
            }
        }
            function autoPassValueToForm3() {
            var selectedValue = document.getElementById("languageSelect").value;
            document.getElementById("footerLanguage").value = selectedValue;
        }

        document.getElementById('nextButton').addEventListener('click', function() {
            var plantInfoList = document.querySelectorAll('.plantInfo');
            var currentPlantIndex = 0;
            for (var i = 0; i < plantInfoList.length; i++) {
                if (plantInfoList[i].style.display === 'block') {
                    currentPlantIndex = i;
                    break;
                }
            }
            plantInfoList[currentPlantIndex].style.display = 'none';
            currentPlantIndex = (currentPlantIndex + 1) % plantInfoList.length;
            plantInfoList[currentPlantIndex].style.display = 'block';
        });

    </script>

</body>
</html>
