<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feedback Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='feed.css') }}">
</head>
<body>

  <div class="container">
    <h2>Feedback Form</h2>
    <form action="/feed" method="POST">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="query">Query:</label>
        <textarea id="query" name="feedback" rows="4" required></textarea>
      
    <center><button onclick="window.location.href ='{{ url_for('content') }}';"class="btn">Submit</button> <br/><br/></center>
  </div>
  </form>
</div>

</body>
</html>
